<div id="cookie-popup" class="cookie-popup">
    <div class="popup-wrapper">
       
         
            <p class="cookie-class">We use cookies to enhance your browsing experience, analyze site traffic, and personalize content. By clicking "Accept
            All", you consent to our use of cookies. <a class="popup-link" href="cookies.html"> Learn more</a></p>

        <div class="cookie-buttons">
            <button id="accept-cookies" class="btn-accept">Accept All</button>
            <button id="decline-cookies" class="btn-decline">Decline</button>
        </div>
    </div>
</div>