.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title{
    margin-top: 74px;
    font-family: "Space Grotesk", sans-serif;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.32143;
        letter-spacing: -0.05em;
        text-align: center;
        color: #151515;
        margin-bottom: 22px;
}
.home-span{
    text-decoration: underline;
        text-decoration-skip-ink: none;
}
.home-text{
    text-align: center;
}
.home-wrapper{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}
.home-text-two{
    font-weight: 500;
    color: #151515;
    line-height: 2.28571;
        letter-spacing: 0.09em;
}
.home-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
        font-style: italic;
        line-height: 1.42857;
        text-align: center;
        color: #737373;
}
.home-btn-wrapper{
    margin-top: 30px;
    display: flex;
    gap: 16px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
            height: 46px;
  padding: 11px 14px;    
            font-weight: 500;
                line-height: 1.71429;
                letter-spacing: -0.01em;
                text-align: center;
}
.home-btn-one{  
        width: 167px;
        background: #151515;
            color: #fff;
            justify-content: space-between;
}
.home-btn-two{
    border: 1px solid #d4d4d4;
        width: 176px;
            color: #151515;
}
.desk{
    display: none;
}
.home-desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
  .home-title{
    margin-top: 60px;
    font-size: 72px;
    margin-bottom: 50px;
  }
  .home-text{
    width: 728px;
    font-size: 24px;
        line-height: 1.33333;
  }
  .mob{
    display: none;
  }
.home-text-two{
    font-size: 24px;
  }
  .desk{
    display: block;
  }
  .home-desk{
    display: block;
  }
  .home-list{
    flex-direction: row;
    gap: 32px;
    width: 672px;
    font-size: 14px;
  }
  .home-item-one{
width: 241px;
  }
  .home-btn-wrapper{
    margin-top: 20px;
  }
  .home-btn-one{
    width: 180px;
  }
  .home-btn-two{
    width: 228px;
  }
}
/* A Puzzle of Ideas */
.puzzle-container{
    padding-left: 20px;

}
.puzzle-wrap-one{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.puzzle-title{
    text-align: left;
    margin-bottom: 28px;
}
.puzzle-text-two{
        font-weight: 500;
        font-size: 16px;
        line-height: 2;
        color: #151515;
        text-align: center;
}
.puzzle-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.7;
        color: #151515;
}
.puzzle-swiper{
    margin-top: 30px;
}
.arrow{
    stroke: #151515;
}
.arrow:hover {
    stroke: #fff;
}
.cards-swiper .swiper-ui {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.swiper-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 29px;
    height: 29px;
    border-radius: 999px;
    border: 1px solid #151515;
    background: inherit;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .15s ease, background .15s ease, border-color .15s ease;
}

.swiper-btn:hover {
    transform: translateY(-1px);
    background: #151515;
    border-color: #151515;
}
.right-arrow{
    transition: transform 0.3s ease-in-out;
}
.right-arrow{
transform: rotate(180deg);
}
.swiper-btn:disabled {
    opacity: .35;
    cursor: not-allowed;
}

/* pagination bullets */
.swiper-pagination {
    position: static !important;
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

/* ДОБАВИЛИ puzzle-pagination */
.connect-pagination .swiper-pagination-bullet,
.design-pagination .swiper-pagination-bullet,
.puzzle-pagination .swiper-pagination-bullet {
    width: 4px !important;
    height: 4px !important;
    background: rgba(21, 21, 21, 0.6) !important;
    opacity: 1 !important;
    border-radius: 999px;
    margin: 0 !important;
    transition: width .2s ease, height .2s ease, background .2s ease;
}

.connect-pagination .swiper-pagination-bullet-active,
.design-pagination .swiper-pagination-bullet-active,
.puzzle-pagination .swiper-pagination-bullet-active {
    width: 6px !important;
    height: 6px !important;
    background: #151515 !important;
    opacity: 1 !important;
}
        .puzzle-swiper .swiper {
            height: 340px;
        }
@media only screen and (min-width: 1440px) {
    .puzzle-container{
        display: flex;
        padding-left: 150px;
        padding-right: 150px;
        gap: 120px;
    }
    .puzzle-swiper .swiper{
        width: 300px;
        height: 340px;
    }
    .puzzle-wrap-one{
        width: 676px;
    }
    .puzzle-title{
        font-size: 48px; 
        margin-bottom: 0;   
    }
.puzzle-text-two{
    font-size: 24px;
    margin-left: 20px;
}
}
/* Think */
.think-section{
    background: #f9fafb;
}
.think-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.think-item{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
}
.think-img{
    width: 60px;
    height: 60px;
}
.think-item-title{
    font-family: "Space Grotesk", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        letter-spacing: -0.03em;
        text-align: center;
        color: #151515;
}
.think-item-text{
    line-height: 1.71429;
        text-align: center;
        color: #525252;
}
@media only screen and (min-width: 1440px) {
.think-container{
    padding-top: 46px;
    padding-bottom: 20px;
}
.think-list{
    margin-top: 50px;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
}
.think-item{
    width: 340px;
}
.think-item-text{
    line-height: 1.625;
}
.think-img {
    width: 80px;
    height: 80px;
}
}
/* The Arena of Principles */
.connect-container{
    padding-left: 52px;
    padding-right: 52px;
}
.connect-swiper .swiper-slide{
    border: 2px solid #d4d4d4;
        padding: 18px;
        width: 271px;
        height: 271px;
}
.connect-swiper{
    margin-top: 30px;
}
.arena-number{
    font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33333;
        color: #d4d4d4;
        text-align: right;
}
.arena-item-title{
    margin-top: 34px;
    text-align: center;
    margin-bottom: 32px;
    font-family: "Space Grotesk", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.33333;
        letter-spacing: -0.02em;
        color: #151515;
}
.arena-img{
    width: 72px;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
}
@media only screen and (min-width: 1440px) {
    .connect-swiper .swiper-ui{
        display: none;
    }
    .connect-container{
        padding-left: 144px;
        padding-right: 144px;
    }
.connect-swiper{
    width: 1152px;
}
.connect-swiper .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 1152px;
    gap: 24px;
    justify-content: center;
}
.connect-swiper .swiper-slide{
width: 368px;
    height: 368px;
}
.arena-item-title{
    margin-top: 82px;
}
}